@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/*light 300, Regular 400, Medium 500, Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/*light 300, Regular 400, Medium 500, Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */
/*Regular 400, Bold 700, Extra-bold 800*/

/* reset css */
*{margin:0; padding:0;vertical-align:middle;}
html{ overflow-x: hidden;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, abbr, acronym, address, big, cite, code, ins, small, sub, sup {padding:0; margin:0;  box-sizing:border-box;}
div img, dl img, dt img, dd img, ul img, ol img, li img, h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, pre img, form img, fieldset img, input img, textarea img, p img, blockquote img, th img, td img{box-sizing:border-box;}
article, aside, figure, figure img, figcaption, hgroup, footer, header, main, nav, section, video, object {display:block;  box-sizing:border-box;}
table{ border-collapse:collapse; border-spacing:0; }
ol, ul, li{ list-style:none; padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, th, td{ font-weight:normal; font-size:100%; }
form, fieldset, a img{ border:0; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
address, abbr, address, big, cite, code, ins, small, sub, sup, em{ font-weight:normal; font-style:normal; }
blockquote, q{ quotes:none; }
.accessibility, .skip, legend
{ position:absolute !important; width:0 !important; height:0 !important; font-size:0 !important; line-height:0 !important; overflow:hidden !important; visibility:hidden !important; }
caption{ display:none; }
.null{ font-size:0; line-height:0; }
a img, input, textarea, select, img{ vertical-align:middle; }
time, progress, mark, output { display:inline; }
.hide{ position:absolute; top:-9999px; left:-9999px; }
.clr{ clear:both !important; float:none !important; width:0 !important; height:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; overflow:hidden !important; visibility:hidden !important; }
a {text-decoration:none; outline:none; color:#6c6c6c}
/*a:hover {text-decoration:underline;}*/
a img{ border:0; }
img, input, select{ vertical-align:middle; }
input{ font-size:13px; color:#000; vertical-align:middle; outline:none;}
select{ font-size:13px; border:1px solid #D0D0D0; background:#fff; outline:none;}
button {outline:none;}

/*************************************************************************************************************************************************************/
body{
  font-family: 'Noto Sans KR', sans-serif;
  background: #fffef2;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
#wrap{
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
main{
  padding-bottom:352px;
}

/* 메뉴 */
.container {
	background: none;
	background-size: 400% 400%;
	position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.nav-bar {
	position: fixed;
	background: url(../images/aesop_menu.jpg) no-repeat center;
    margin: 0 auto;
	right: 100%;
	height: 960px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-left: 148px;
	align-items: center;
	transition: position 2.9s ;
	-webkit-transition: position 2.9s ;
	-moz-transition: position 2.9s ;
	-ms-transition: position 2.9s ;
	-o-transition: position 2.9s ;
}

.container.toggle {
  z-index: 999;
}

.container.toggle .nav-bar {
  right: 0;
}

.toggle {
	right: 0;
}

.toggle-menu {
	position: fixed;
	top: 64px;
	right: 112px;
	width: 36px;
	height: 36px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    padding: 2px 2px 2px 3px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #242a36;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #242a36;
	transform: scale(1) rotateZ(-45deg) translate(-6px, 6px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #242a36;
	transform: scale(1) rotateZ(45deg) translate(-6px, -6px);
}

.toggle .toggle-menu {
	background-color: none;
}

.nav-list {
	list-style: none;
}

.nav-list-item {
	padding: 10px 0;
}

.nav-link {
	color: rgba(255, 254, 242, 0.5);
	font-size: 100px;
	text-decoration: none;
	position: relative;
	padding-bottom: 4px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/* 메뉴 밑에 선 */
.nav-link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: rgba(255, 254, 242, 0.5);
	transform: scaleX(0);
	transition: transform 0.4s ease-in-out;
	transform-origin: left;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
	transform: scaleX(1);
}


/* section1 */
#section1{
  width: 100%;
  height: 847px;
  display: flex;
  align-items: center;
  position: relative;
}
.section1_contents_wrap{
  width: 100%;
  height: 640px;
  display: flex;
  justify-content: center;
}
/* section1 header */
header>a>img{
  width: 207px;
  height: auto;
  position: absolute;
  top: 60px;
  left: 148px;
  z-index: 99;
}

/* section1 left */
#gallery_wrap{
  width: 704px;
  padding-top: 75px;
  margin-right: 140px;
  display: flex;
  justify-content: space-between;
}
.bx-wrapper{
  background: #fffef2;
}

.slider-pager{
  text-align: center;
  margin-right: 90px;
}
.slide_gallery>li>img{
  width: 518px;
  height: 518px;
}
.slider-pager>li>a>img{
  width: 106px;
  height: 106px;
  margin-bottom: 15px;
}

/* section1 text */
.section1_text{
  width: 516px;
  height: 640px;
}
.section1_text>h1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin-top: 20px;
  padding-bottom: 28px;
}
.section1_text>h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #242a36;
  line-height: 48px;
  padding-bottom: 32px;
}
.section1_text01{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #242a36;
  line-height: 24px;
  padding-bottom: 16px;
}
.section1_text>h3{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #242a36;
  padding-bottom: 16px;
}
.section1_text>.section1_text_contents{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  padding-bottom: 16px;
}
.section1_button>a>button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fefefe;
  width: 516px;
  height: 60px;
  border: none;
  background: rgba(0, 0, 0, 0.45);
  transition: all 0.4s ease-in-out;
  margin-top: 16px;
}
.section1_button>a>button:hover{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fffef2;
  width: 516px;
  height: 60px;
  border: 1px solid #3f3f3f;
  background: #3f3f3f;
  margin-top: 16px;
}
.section1_line01{
  width: 516px;
  height: 2px;
  background: #666666;
  opacity: 0.8;
  margin-bottom: 16px;
}
.section1_line02{
  width: 516px;
  height: 2px;
  background: #666666;
  opacity: 0.5;
  margin-bottom: 16px;
}


/* section2 */
#section2{
  width: 100%;
  height: 2280px;
}
.section2_text{
  width: 100%;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* section2 text */
.section2_text01{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #454c59;
  margin: 0 auto;
  padding-top: 80px;
}
.section2_text_line{
  width: 16px;
  height: 2px;
  background: #242a36;
  margin: 0 auto;
}
.section2_text02{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #242a36;
  margin: 0 auto;
  padding-bottom: 80px;
}
/* section2 content01 */
.section2_content01{
  height: 900px;
  position: relative;
}
.section2_content01>img{
  width: 1497px;
  height: 900px;
  position: absolute;
  right: 0;
}
.section2_text03{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  margin: 0 auto;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2_text03>strong{
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #1e1f22;
}
/* section2 use box */
.section2_use{
  width: 657px;
  height: 452px;
  box-shadow: 10px 10px 28px #9c8d79;
  background: #fffef2;
  position: absolute;
  top: 447px;
  left: 148px;
  padding: 50px 68px;
}
.section2_use>h3{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #242a36;
  padding-bottom: 23px;
}
.section2_use>.section2_use_text01{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #242a36;
  padding-bottom: 23px;
}
.section2_use>.section2_use_text_title{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #242a36;
  padding-bottom: 14px;
}
.section2_use>.section2_use_text_contents{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  padding-bottom: 16px;
}
.section2_use>a>button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fefefe;
  width: 516px;
  height: 60px;
  border: none;
  background: rgba(0, 0, 0, 0.45);
  transition: all 0.4s ease-in-out;
}
.section2_use>a>button:hover{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fffef2;
  width: 516px;
  height: 60px;
  border: 1px solid #3f3f3f;
  background: #3f3f3f;
}
.section2_use_line01{
  width: 516px;
  height: 2px;
  background: #666666;
  opacity: 0.8;
  margin-bottom: 16px;
}
.section2_use_line02{
  width: 516px;
  height: 2px;
  background: #666666;
  opacity: 0.5;
  margin-bottom: 16px;
}
/* section2 content02 */
.section2_content02{
  width: 100%;
  height: 730px;
  background: url(../images/sub01_section2_background02.jpg) no-repeat center ;
  position: relative;
}
.section2_content02>p{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 25px;
  font-weight: 400;
  color: #e2e2e2;
  line-height: 50px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 230px;
  left: calc(50% - 812px);
}
.section2_content02 p>span{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
}

/* section3 */
#section3{
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

/* section3 left부분 */
.section3_text{
  width: 800px;
  height: 800px;
}
.section3_text>h1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #242a36;
  padding-bottom: 16px;
}
.section3_text>h2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #242a36;
  padding-bottom: 32px;
}
.section3_text01{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  opacity: 0.8;
  padding-bottom: 102px;
}
.section3_text02{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #666666;
  padding-bottom: 102px;
}
.section3_text03{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  line-height: 32px;
  padding-bottom: 64px;
}
.section3_text_vegan{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section3_text_vegan>img{
  width: 94px;
}
.section3_text_vegan>p{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #666666;
  line-height: 32px;
  padding-left: 32px;
}
/* section3 right 부분 */
.section3_ingredient{
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.section3_ingredient01>img ,.section3_ingredient02>img , .section3_ingredient03>img , .section3_ingredient04>img {
  width: 382px;
  height: 382px;
}
.section3_ingredient01, .section3_ingredient02, .section3_ingredient03, .section3_ingredient04{
  position: relative;
  text-align: center;
}
.section3_ingredient01>p ,.section3_ingredient02>p , .section3_ingredient03>p , .section3_ingredient04>p{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 32px;
  position: absolute;
  top: 165px;
}
.section3_ingredient01>strong ,.section3_ingredient02>strong , .section3_ingredient03>strong , .section3_ingredient04>strong{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.section3_ingredient01>p{
  left: 106px;
}
.section3_ingredient02>p{
  left: 110px;
}
.section3_ingredient03>p{
  left: 110px;
}
.section3_ingredient04>p{
  left: 82px;
}


/* section4 */
#section4{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
#section4 .product-slider__category{
    width: 530px;
    height: 100%;
    margin-left: 148px;
    margin-top: 162px;
    margin-right: 98px;
    position: relative;
}
#section4 .product-slider__slider{
    width: 1390px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 128px;
    align-content: center;
}

/* section4 left text style */
#section4 .product-slider__category>h2{
    font-size: 40px;
    font-weight: 500;
    color :#242a36;
    padding: 33px 0 60px 0;
    line-height: 48px;
}
#section4 .product-slider__category>a>button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    width: 182px;
    height: 60px;
    border: 1px solid #666666;
    background: none;
    transition: all 0.4s ease-in-out;
}
#section4 .product-slider__category>a>button:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fffef2;
    width: 182px;
    height: 60px;
    border: 1px solid #3f3f3f;
    background: #3f3f3f;
}

/* section4 right 제품 사진, 내용 style */
#section4 .section4_product_name{
    font-size: 16px;
    font-weight: 400;
    color: #242a36;
    text-align: center;
    padding: 33px 0px 18px 0;
}
#section4 .section4_product_explain{
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    text-align: center;
    line-height: 21px;
}

/* section4 제품 이미지 hover */
.section4_img_hover{
    width: 244px;
    position: relative;
    margin: 0 auto;
}
.section4_product_img_hover{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.4s linear;
}
.section4_img_hover:hover .section4_product_img_hover{
    opacity: 1;
}

/* section4 슬라이더 */
  @media (min-width: 768px) {
    .product-slider {
      flex-flow: row nowrap;
    }
  }

  @media (min-width: 768px) {
    .product-slider__category {
      width: 35%;
    }
  }

  @media (min-width: 768px) {
    .product-slider__slider {
      width: 65%;
    }
  }

  .product-slider__item {
    text-align: center;
    width: 244px;
  }

  .product-slider__item img {
    margin: 0 auto;
  }
  
  .slick-arrow {
    background: #666666;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .slick-arrow.slick-prev {
    left: 0;
  }
  .slick-arrow.slick-next {
    right: 0;
  }
  .slick-arrow.slick-disabled {
    display: none !important;
  }



/* footer레이아웃 */
footer{
    width: 100%;
    height: 352px;
    background: #242a36;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}
footer .float_left{
    float: left;
    width: 50%;
    padding-left: calc(50% - 812px);
}
footer .float_right{
    float: right;
    width: 50%;
    padding-left: 22px;
}

/* footer 검색 */
::selection{
    color: #fff;
    background: #664AFF;
  }
  
  .search-input{
    width: 516px;
    display: flex;
    justify-content: space-between;
    max-width: 516px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgb(36, 42, 54, 0.15);
    display: flex;
    margin-top: 52px;
  }
  
  .search-input input{
    outline: none;
    border: none;
    font-size: 16px;
    width: 452px;
    background: none;
    padding: 14px 0 14px 154px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
  }
  
  .search-input .autocom-box{
     display: none;
  }

  .autocom-box li:hover{
    height: 36px;
    width: 36px;
    margin-right: 16px;
    margin-top: 8px;
    opacity: 1;
  }
  
  .search-input .icon{
    height: 36px;
    width: 36px;
    margin-right: 16px;
    margin-top: 8px;
    cursor: pointer;
    filter: invert(92%) sepia(67%) saturate(2%) hue-rotate(152deg) brightness(111%) contrast(100%);
    opacity: 0.7;
  }

footer .footer_logo{
    padding-top: 115px;
}
footer .float_right .footer_menu{
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-top: 70px;
}
footer .float_right .footer_address{
    margin-top: 32px;
    line-height: 20px;
}
footer .float_right .footer_sns_text{
    margin-top: 48px;
}
footer .float_right .footer_sns_icon{
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 25px;
}

/* footer style */
.footer_logo{
    width: 207px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(149deg) brightness(102%) contrast(105%);
    opacity: 0.7;
}
.footer_menu>li>a{
    font-size: 15px;
    color: #d9d9d9;
    font-weight: 400;
}
.footer_address>p{
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 300;
}
.float_right>.footer_sns_text{
    font-size: 16px;
    color: #d9d9d9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.footer_sns_icon>li{
    width: 33px;
    height: auto;
}